
/* TABLTE TD CENTEr */
.table td {
   text-align: center;   
}


/* BUTTON CIRCLE */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.form-control {
    height: 28px;
}

.css_divPadding-top {
    padding-top: 20px;
}

.css_divPadding-bottom {
    padding-bottom: 20px;
}

.css_noPaddingTopBottom {
    padding-top:0; padding-bottom:0;
}

.css_noPaddingLeftRight {
        padding-left:0; padding-right:0;
}

.js_taskHide {
     display: none;
}
.js_personHide {
     display: none;
}
.js_projectHide {
     display: none;
}