
/* TABLTE TD CENTEr */
.table td {
   text-align: center;   
}


/* BUTTON CIRCLE */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.form-control {
    height: 28px;
}

.css_divPadding-top {
    padding-top: 20px;
}

.css_divPadding-bottom {
    padding-bottom: 20px;
}

.css_removePadding {
    padding: 0;
}

.css_padding5px {
    padding: 5px 5px 5px 5px;
  }

/* 
    FOR AT FIKSE SCROLLING MENS MODAL ER ÅBEN 
*/
.modal-open {
    overflow: visible; /* DEFAULT: hidden */
}

/*
    NAVBAR STUFF
*/
.navbar-inverse {
    background-color: #5A93C4;
    border-color: #E7E7E7;
    color: white;
}

.nav.navbar-nav li a {
   color: #fff;
 }

 .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #1773C3;
 }