body {
    background-color: white;
}
/* TABLTE TD CENTEr */
.table td {
   text-align: center;   
}

table th {
    background-color: #5A93C4;
    color: white;
}


/* BUTTON CIRCLE */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.form-control {
    height: 28px;
}

.css_divPadding-top {
    padding-top: 20px;
}

.css_divPadding-bottom {
    padding-bottom: 20px;
}

.css_noPaddingTopBottom {
    padding-top:0; padding-bottom:0;
}

.css_noPaddingLeftRight {
        padding-left:0; padding-right:0;
}
 
/* Default hidden billing options */
.js_taskHide {
     display: none;
}
.js_personHide {
     display: none;
}
.js_projectHide {
     display: none;
}
.css_removePadding {
    padding: 0;
}

.css_padding5px {
    padding: 5px 5px 5px 5px;
  }

/* 
    FOR AT FIKSE SCROLLING MENS MODAL ER ÅBEN 
*/
.modal-open {
    overflow: visible; /* DEFAULT: hidden */
}

/*
    NAVBAR STUFF
*/
.navbar-inverse {
    background-color: #5A93C4;
    border-color: #E7E7E7;
    color: white;
}

.nav.navbar-nav li a {
   color: #fff;
 }

 .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #1773C3;
 }

 /* CHANGE COLOR OF HR */
 hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #BBBBBB; /* old IE */
    background-color: #BBBBBB; /* Modern Browsers */
}

 /* REMOVE BORDERS ON TABLE */
.table.removeBordersTable tr td, .table.removeBordersTable tr th {
    border-width: 0;
}

footer {
    padding: 1em;
    color: white;
    background-color: #5A93C4;
    clear: left;
    text-align: center;
}


@media screen and (max-width: 767px) {

}